.App {
  text-align: center;
}

.fondoHeader{
    background: rgba(235,49,17,1);
    background: -moz-linear-gradient(-45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(235,49,17,1)), color-stop(2%, rgba(235,49,17,1)), color-stop(18%, rgba(166,35,12,1)), color-stop(43%, rgba(230,70,49,1)), color-stop(67%, rgba(204,156,74,1)), color-stop(100%, rgba(204,156,74,1)));
    background: -webkit-linear-gradient(-45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: linear-gradient(135deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb3111', endColorstr='#cc9c4a', GradientType=1 );
}

.fondoFooter{
    background: rgba(235,49,17,1);
    background: -moz-linear-gradient(45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(235,49,17,1)), color-stop(2%, rgba(235,49,17,1)), color-stop(18%, rgba(166,35,12,1)), color-stop(43%, rgba(230,70,49,1)), color-stop(67%, rgba(204,156,74,1)), color-stop(100%, rgba(204,156,74,1)));
    background: -webkit-linear-gradient(45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -o-linear-gradient(45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    background: linear-gradient(45deg, rgba(235,49,17,1) 0%, rgba(235,49,17,1) 2%, rgba(166,35,12,1) 18%, rgba(230,70,49,1) 43%, rgba(204,156,74,1) 67%, rgba(204,156,74,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb3111', endColorstr='#cc9c4a', GradientType=1 );
}

.App-link {
  color: #61dafb;
}

.Menu li {
  display: inline-block;
  text-align: center;
  padding-right: 20px;
}

h5{
  font-family: cursive;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  /* font-weight: 500; */
  line-height: 1;
  color: white;
}

h6{
  font-family: cursive;
  /* padding-top: 5px; */
  padding-bottom: 0px;
  text-align: center;
  /* font-weight: 500; */
  line-height: 1;
  color: white;
}

.Menu {
  /* display: inline-block; */
  /* padding: 1px; */
  text-align: center;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap
}

.Menu div {
  display: inline-block;
  text-align: center;
}

.recipe {
  /* width: 100%; */
  border-radius: 60px;
  /* text-decoration: none; */
  box-shadow: 0 7px 6px rgba(0,0,0,0.15);
}

.recipe .bg {
  display: block;
  /* text-align: center; */
  height: 60px;
  width: 60px;
  /* padding-bottom: 40%; */
  /* background-position: 50% 50%; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* .recipe .info {
  display: block;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
} */