.App {
  text-align: center;
}

.fondoHeader{
background: rgba(240,47,23,1);
background: -moz-linear-gradient(-45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(240,47,23,1)), color-stop(9%, rgba(184,55,22,1)), color-stop(58%, rgba(191,28,10,1)), color-stop(67%, rgba(186,111,30,1)), color-stop(80%, rgba(235,129,17,1)), color-stop(89%, rgba(240,147,48,1)), color-stop(94%, rgba(237,164,90,1)), color-stop(100%, rgba(237,164,90,1)));
background: -webkit-linear-gradient(-45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
background: -o-linear-gradient(-45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
background: linear-gradient(135deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#eda45a', GradientType=1 );
}

.fondoContent{
background: rgba(240,47,23,1);
background: -moz-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 0%, rgba(191,28,10,1) 41%, rgba(186,111,30,1) 53%, rgba(235,129,17,1) 66%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 97%, rgba(237,164,90,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(184,55,22,1)), color-stop(41%, rgba(191,28,10,1)), color-stop(53%, rgba(186,111,30,1)), color-stop(66%, rgba(235,129,17,1)), color-stop(89%, rgba(240,147,48,1)), color-stop(97%, rgba(237,164,90,1)), color-stop(100%, rgba(237,164,90,1)));
background: -webkit-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 0%, rgba(191,28,10,1) 41%, rgba(186,111,30,1) 53%, rgba(235,129,17,1) 66%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 97%, rgba(237,164,90,1) 100%);
background: -o-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 0%, rgba(191,28,10,1) 41%, rgba(186,111,30,1) 53%, rgba(235,129,17,1) 66%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 97%, rgba(237,164,90,1) 100%);
background: -ms-linear-gradient(left, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 0%, rgba(191,28,10,1) 41%, rgba(186,111,30,1) 53%, rgba(235,129,17,1) 66%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 97%, rgba(237,164,90,1) 100%);
background: linear-gradient(to right, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 0%, rgba(191,28,10,1) 41%, rgba(186,111,30,1) 53%, rgba(235,129,17,1) 66%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 97%, rgba(237,164,90,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#eda45a', GradientType=1 );

}

.fondoFooter{
  background: rgba(240,47,23,1);
  background: -moz-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(240,47,23,1)), color-stop(9%, rgba(184,55,22,1)), color-stop(58%, rgba(191,28,10,1)), color-stop(67%, rgba(186,111,30,1)), color-stop(80%, rgba(235,129,17,1)), color-stop(89%, rgba(240,147,48,1)), color-stop(94%, rgba(237,164,90,1)), color-stop(100%, rgba(237,164,90,1)));
  background: -webkit-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
  background: -o-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
  background: linear-gradient(45deg, rgba(240,47,23,1) 0%, rgba(184,55,22,1) 9%, rgba(191,28,10,1) 58%, rgba(186,111,30,1) 67%, rgba(235,129,17,1) 80%, rgba(240,147,48,1) 89%, rgba(237,164,90,1) 94%, rgba(237,164,90,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f02f17', endColorstr='#eda45a', GradientType=1 );
  
}

.App-link {
  color: #61dafb;
}

.Menu li {
  display: inline-block;
  text-align: center;
  padding-right: 20px;
}

h5{
  font-family: cursive;
  padding-top: 5px;
  padding-bottom: 0px;
  text-align: center;
  /* font-weight: 500; */
  line-height: 1;
  color: white;
}

h6{
  font-family: cursive;
  /* padding-top: 5px; */
  padding-bottom: 0px;
  text-align: center;
  /* font-weight: 500; */
  line-height: 1;
  color: white;
}

.Menu {
  /* display: inline-block; */
  /* padding: 1px; */
  text-align: center;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  white-space: nowrap
}

.Menu div {
  display: inline-block;
  text-align: center;
}

.recipe {
  /* width: 100%; */
  border-radius: 60px;
  /* text-decoration: none; */
  box-shadow: 0 7px 6px rgba(0,0,0,0.15);
}

.recipe .bg {
  display: block;
  /* text-align: center; */
  height: 60px;
  width: 60px;
  /* padding-bottom: 40%; */
  /* background-position: 50% 50%; */
  background-size: cover;
  /* background-repeat: no-repeat; */
  
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* .recipe .info {
  display: block;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
} */